{% extends "base.html" %}

{% block title %}
    Welcome to Home Server
{% endblock %}

{% block content %}
    <h1>Welcome to Home Server</h1>
    <p>Pages:</p>
        <ul><a href="http://ascend:5000/posts">Posts page</a></ul>
        <ul><a href="http://ascend:5000/create">Create new post</a></ul>
        <ul><a href="http://ascend:5000/graph">Temp and Humidity Graph</a></ul>
        <ul><a href="http://ascend:5000/about">About page</a></ul>
    <p>Endpoints:</p>
    <ul>/api/data [GET]</ul>
    <ul>/api/thermo [POST]</ul>
    <ul>/api/server_status [GET]</ul>
{% endblock %}
